<nav>
  <div class="logo" routerLink="/">
    <svg width="44.118" xmlns="http://www.w3.org/2000/svg" height="30" fill="none"><g data-testid="Group"><path d="M15.647 6.01c.018 0 .037 0 0 0Zc5.187.116 9.273 4.272 9.186 9.301-.086 4.924-4.142 8.878-9.13 8.988-.125.002-.25.003-.375.001-5.158-.086-9.274-4.254-9.186-9.301.088-5.048 4.347-9.075 9.505-8.989ZM0 0v30h15.703V0H0Z" style="fill: rgb(255, 255, 255); fill-opacity: 1;" class="fills" data-testid="Exclude"/><rect rx="0" ry="0" x="24.676" width="8.973" height="30" style="fill: rgb(255, 255, 255); fill-opacity: 1;" class="fills" data-testid="Rectangle"/><rect rx="0" ry="0" x="35.145" width="5.234" height="30" style="fill: rgb(255, 255, 255); fill-opacity: 1;" class="fills" data-testid="Rectangle"/><rect rx="0" ry="0" x="41.874" width="2.243" height="30" style="fill: rgb(255, 255, 255); fill-opacity: 1;" class="fills" data-testid="Rectangle"/></g></svg>
    Riemann</div>
  <div class="navigation">
      <a i18n class="buttons-center" routerLink="/fonctions">Fontionnalités</a>
      <a i18n class="buttons-center" routerLink="/implementation">Implémentation</a>
      <a i18n class="buttons-center" routerLink="/contact">Contact</a>
  </div>
  <div class="begin">
    <a i18n class="buttonStart" routerLink="/commencer">Commencer</a>
  </div>
</nav>
<p>Votre langue actuelle est : {{ getCurrentLanguage() }}</p>
<button (click)="switchLanguage('fr')">Français</button>
<button (click)="switchLanguage('en')">English</button>
<router-outlet></router-outlet>